service: my-lambda-project
frameworkVersion: "4"

provider:
  name: aws
  architecture: x86_64
  runtime: nodejs20.x
  region: ap-southeast-1
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:GetObject
            - s3:PutObject
            - s3:DeleteObject
            - s3:ListBucket
          Resource: arn:aws:s3:::hm-image-storage-test/*

functions:
  myHandler:
    handler: index.handler
    layers:
      - arn:aws:lambda:ap-southeast-1:621909671017:layer:sharp-lambda-x64:1
    events:
      - s3:
          bucket: hm-image-storage-test
          event: s3:ObjectCreated:*
          rules:
            - prefix: temp-uploads/
      - s3:
          bucket: hm-image-storage-test
          event: s3:ObjectRemoved:*
          rules:
            - prefix: temp-uploads/

build:
  esbuild:
    external:
      - sharp
